.contact {
  display: grid;
  grid-template-areas:
    "hd"
    "fm"
    "dt";

    .heading{
        grid-area: hd;
    }

    .form{
        grid-area: fm;
    }

    .details{
        grid-area: dt;
    }
}

@media (min-width: 1020px) {
  .contact {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "hd fm"
      ". fm"
      ". fm"
      "dt fm";
  }
}